{% extends 'base.html' %} {% block content %}
<section class="profile-section">
    <div class="row">
        
        </div>
        <div class="col-8 centered-col">
            <div class="profile-block post-margin">
                <div class="media">
                    <img class="post-profile-image d-none d-sm-block " src="{{ content.author.profile.image.url }}">
                    <div class="media-body">
                        
                        <form class="text-left" method="POST">
                        {% csrf_token %}
                            <a class="" href="{% url 'upvote_content' content.pk %}"><i class="upvote-icon-link fas fa-chevron-circle-up vote-icon"></i></i></a>
                            
                            <a href="{% url 'downvote_content' content.pk %}"><i class="downvote-icon-link fas fa-chevron-circle-down vote-icon"></i></i></a>
                            <p class="upvotes-text">Upvotes: <b>{{ content.upvotes }}</b></p>
                        </form>
                    
                        <h2 class="account-heading">{{ content.author }} <small class="post-date">: {{ content.date_posted|date:"d M " }}</small></h2>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <h3>{{content.title}}</h3>
                                <p>{{content.suggestion_content|linebreaks}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr> 
                <div class="row">
                    
                    <div class="col-4">
                        <p>Views: <small>{{ content.views }}</small></p>
                    </div>
                    <div class="col-4 text-center">
                        <a class="btn btn-primary btn-xl" href="{% url 'issue_tracker_content' %}">Back to Suggestions</a>
                    </div>
                    {% if user == bug.author or user.is_superuser %}
                    <div class="col-4 text-right">
                        <a class="btn btn-dark-blue btn-xl" href="{% url 'edit_content' content.pk %}">Edit Suggestion</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        
        {% if user == bug.author or user.is_superuser %}
        <div class="col-12 text-center">
            <a class="btn btn-danger btn-xl" onclick="return confirm('Are you sure you want to delete this item?');" href="{% url 'delete_content' content.pk %}">Delete post</a>
        </div>
        {% endif %}
        
    </div>

</section>
{% endblock %}
