{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<section class="profile-section">
    <container>
        <div>
            <div class="row update-form-length text-center profile-block">
                <div class="media-body">
                    <div class="col-12">
                        <h4 class="user-header">Reset Password</h4>
                        <hr>
                        <form class="form-width" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>Please enter your email address</p>
                            {{ form.email.errors }}
                            <p>
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-dark-blue btn-xl">Send Reset Email</button>
                            </p>
                        </form>
                        <a class="btn btn-primary btn-xl" href="{% url 'index' %}">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </container>
</section>

{% endblock %}