{% extends 'base.html' %}
{% block content %}
<section class="profile-section">
    <container>
        <div>
            <div class="row update-form-length text-center profile-block">
                <div class="media-body">
                    <div class="col-12">
                        <h4 class="user-header">Email Sent</h4>
                        <hr>
                        <p>An email has been sent containing a password reset link.</p>
                        <a class="btn btn-primary btn-xl" href="{% url 'index' %}">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </container>
</section>

{% endblock %}