{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<section class="profile-section">
    <container>
        <div>
            <div class="row update-form-length text-center profile-block">
                <div class="media-body">
                    <div class="col-12">

                        <h4>Enter your new password</h4>
                        <hr>
                        <form method="post">
                            {% csrf_token %} 
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-dark-blue btn-xl">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </container>
</section>

{% endblock %}
