body {
  overflow-x: hidden;
}

/* bg image */

header.masthead {
  padding-top: 10rem;
  padding-bottom: 0;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.black-box {
  padding: 70px;
  background-color: rgba(0, 0, 0, 0.90);
}


/* nav */

.bg-dark-opacity {
  background-color: rgba(0, 0, 0, 0.75);
}



/* footer */

.icon-size {
  font-size: 22px;
  padding: 5px;
}

footer {
  background-color: rgba(0, 0, 0, 0.97);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-text {
  color: #007bff;
}

.italic {
  font-style: italic;
}

/* profile page */


.profile-image,
.post-profile-image{
  display:inline-block;
  vertical-align:middle;
  
  background: #15202b;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 16px;
  object-fit: cover;
  
}
.profile-image {
  height: 175px;
  width:175px;
  border: 5px solid #15202b;
}

.post-profile-image {
  height:100px;
  width:100px;
  border: 2px solid #15202b;
}

.profile-block {
  background: #f3f3f3;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  
}

.centered-col {
  margin:auto;
}

.tick {
  font-size: 24px;
  color: green;
}

.cross {
  font-size: 24px;
  color: red;
}

.italic {
  font-style: italic;
}

.update-form-length {
  width:75%;
  margin:auto;
}
.user-header {
  margin-right: 20px;
  margin-bottom: 10px;
}

.form-width {
  width:75%;
  margin:auto;
}

.edit-profile-section {
  margin-top:100px;
  margin-bottom: 200px;
}

.btn-dark-blue {
  background-color:#1e3a9a;
  border-color:#1e3a9a;
  color:white;
  
}

.btn-dark-blue:hover {
  color:white;
  background-color:#455fb7;
}

.reset-link {
  margin-top:10px;
}

.post-date {
  font-size: 50%;
  color:rgba(33, 37, 41, 0.75);
}

.post-margin {
  margin-top: 25px;
}

.post-image {
  max-width: 100%;
  max-height: 100%;
}