{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<section class="profile-section">
    <container>
        <div>
            <div class="row update-form-length text-center profile-block">
                <div class="media-body">
                    <div class="col-12">
                        <h4 class="user-header">Login</h4>
                        <hr>
                        <form class="form-width" method="POST" enctype="multipart/form-data">
                            {% csrf_token %} 
                            {{ login_form|crispy }} 
                            
                            <button type="submit" class="btn btn-primary btn-xl">Login</button>
                        </form>
                        <p class="reset-link"><a href="{% url 'password_reset' %}">Reset Password</a></p>
                    </div>
                </div>
            </div>
        </div>
    </container>
</section>

{% endblock %}
