{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<section class="profile-section">
    <container>
        <div class="row text-center">
            <div class="col-12">
                <img class="profile-image" src="{{ user.profile.image.url }}">
                <h4 class="user-header">{{user.username}}</h4>
            </div>
        </div>
        <div>
            <div class="row edit-profile-block text-center profile-block">
                <div class="media-body">
                    <div class="col-10 col-md-12 text-center">
                        <form class="form-width" method="POST" enctype="multipart/form-data">
                            {% csrf_token %} 
                            {{ PostForm|crispy }} 
                            
                            <a class="btn btn-primary btn-xl" href="{% url 'profile' %}">Cancel</a>
                            <button class="btn btn-success btn-xl" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </container>
</section>
{% endblock %}