{% extends 'base.html' %} {% block content %}
<section class="profile-section">

    <div class="row text-center d-sm-none">
        <div class="col-12">
            <img class="profile-image" src="{{ user.profile.image.url }}">
        </div>
    </div>


    <div class="row">
        <div class="col-8 centered-col">
            <div class="profile-block">
                <div class="media">
                    <a href="{% url 'update profile' %}"><img class="profile-image d-none d-sm-block " src="{{ user.profile.image.url }}"></a>
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <hr>
                        <div class="row text-center">
                            <div class="col-md-4 centered-col">
                                <p class="italic">Available to Team</p>
                                {% if user.profile.available_to_team == True %}
                                <p><i class="far fa-check-circle tick"></i></p>
                                {% else %}
                                <p><i class="fas fa-times-circle cross"></i></p>
                                {% endif %}
                            </div>
                            <div class="col-md-4 centered-col">
                                <p class="italic">Location</p>
                                {% if user.profile.location == "" %}
                                <a href="{% url 'update profile' %}">
                                    <p>Click here to edit profile</p>
                                </a>
                                {% else %}
                                <p>{{user.profile.location}}</p>
                                {% endif %}
                            </div>
                            <div class="col-md-4 centered-col">
                                <p class="italic">Join Date</p>
                                <p>{{ user.date_joined|date:"d / m / Y " }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row text-center">
                            <div class="col-12">
                                <h4 class="italic">Bio</h4>
                                {% if user.profile.user_bio == "" %}
                                <a href="{% url 'update profile' %}">
                                    <p>Click here to edit profile</p>
                                </a>
                                {% else %}
                                <p>{{user.profile.user_bio}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- edit profile button -->
            <div class="row">
                <div class="col-2 align-self-end">
                    <a class="btn btn-primary btn-xl" href="{% url 'update profile' %}">Edit profile</a>
                </div>
                
                <div class="col-2 offset-8 text-right">
                    <a class="btn btn-dark-blue btn-xl" href="{% url 'new_post' %}">New Post</a>
                </div>
            </div>


            {% for post in posts %}
            <a class="post-link-style" href="{% url 'post_detail' post.id %}">
                <div class="profile-block post-margin">
                    <div class="media">
                        <img class="post-profile-image d-none d-sm-block " src="{{ post.author.profile.image.url }}">
                        <div class="media-body">
                            <h2 class="account-heading">{{ post.author }} <small class="post-date">: {{ post.date_posted|date:"d M " }}</small></h2>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h5>{{post.title}}</h5>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12">
                                    <p>{{post.post_content| truncatechars:20}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if post.image %}
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <img class="post-image" src="{{ post.image.url }}">
                        </div>
                    </div>
                    {% endif %}
                </div>
            </a>
            {% empty %}
            <div class="col-12 text-center">
                <h4 class="mt-4">No Posts Found</h4>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</section>






{% endblock %}
